cov-int/
.deps
.libs
*.o
*.swp
*.lo
*.la
*.gir
*.typelib
*.stamp
*.bak
*~
Makefile
Makefile.in
aclocal.m4
aravis*.pc
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool*
libtool
ltmain.sh
missing
mkinstalldirs
stamp*
autom4te*
manugen*
tmp-introspect*
make*.out
genicam.xml
test.png
test-report.*
perf-report.*
gtk-doc.make
gtk-doc.m4
massif.out.*
messages.mo
aravis-*.tar.bz2
aravis-*.tar.gz
aravis-*.tar.xz
INSTALL
compile
aravis-*/
core.*
tags
.buildconfig
.exrc
