.deps
.libs
*.o
*.swp
*.lo
*.la
*.gir
*.typelib
Makefile
Makefile.in
aclocal.m4
aravis.pc
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool*
libtool
ltmain.sh
missing
mkinstalldirs
stamp*
autom4te*
manugen
tmp-introspect*
make*.out
genicam.xml
